// nextflow.config

docker.enabled = true

profiles {
    test { includeConfig 'conf/test.config'}
    sage { includeConfig 'conf/sage.config'}
    tower {
        process {
            cpus = {1 * task.attempt}
            memory = {2.GB * task.attempt}
            maxRetries = 3
            errorStrategy = {task.attempt <= 2 ? 'retry' : 'ignore' }
            withLabel: process_low {
                cpus = {1 * task.attempt}
                memory = {2.GB * task.attempt}
                maxRetries = 3
                errorStrategy = {task.attempt <= 2 ? 'retry' : 'ignore' }
            }
            withLabel: process_medium {
                cpus = {4 * task.attempt}
                memory = {8.GB * task.attempt}
                maxRetries = 3
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
            }
            withLabel: process_high {
                cpus = {8 * task.attempt}
                memory = {16.GB * task.attempt}
                maxRetries = 3
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
            }
        }
    }
}



